{% extends 'base.html' %}

{% block content %}
  <h1>{{ user.name}}님 상점의 상품 관리</h1>
  <br>
  <a href= "{% url 'products:product_create' %}" class = "btn btn-primary" type= "button">추가</button>

  <hr>

{% for product in products %}
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        {% if product.image %}
          <img class="img-fluid rounded-start" src="{{product.image.url}}">
          <br><br>
        {% else %}
        <!--상품 준비중 이미지 가져오기-->
        <!--이미지 상대주소 확인-->
          <img src = "/assets/loading.jpg" class="img-fluid rounded-start" alt = "상품이미지준비중">
          <br><br>
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <a href = "{% url 'products:product_detail' product.pk %}">제품명: {{product.name}}</p>
          <p class="card-text">제품가격: {{product.price}}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

{% endblock content %}