{% extends 'base.html' %}

{% block content %}

<div class = 'd-flex justify-content-center'>
  <div class="card" style="width: 18rem;">
    <h1 class = 'd-flex justify-content-center'>{{product.name}}의 상세정보</h1>
    <!--이미지 가져오는 방법 알아보기-->
    <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="product_image">
    <div class="card-body">
      <p class="card-text">제품명 : {{ product.name }}</p>
      <p class="card-text">제품가격 : {{ product.price }}</p>
  
      <div class="d-flex">
        <a href="{% url 'products:product_edit' product.pk %}" class="btn btn-info me-1">정보 수정</a>
        <form action="{% url 'products:product_delete' movie.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="제품삭제" class="btn btn-danger">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}