{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>{{ user }}님 상점의 마감임박 상품 관리</h1>
<br>
<div class = 'd-grid gap-2 d-md-flex justify-content-md-end'>
  <a href= "{% url 'products:sale_create' %}" class = "btn btn-primary" type= "button">추가</a>
  </div>
<hr>

{% for sale in sales %}
<!--count가 1개 이상일때만 표시-->
{% if sale.count >= 1 %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      {% if sale.image %}
        <img class="img-fluid rounded-start" src="{{sale.image.url}}">
        <br><br>
      {% else %}
        <img src = "{% static 'loading.jpg' %}" class="img-fluid rounded-start" alt = "상품이미지준비중">
        <br><br>
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href = "{% url 'products:sale_detail' sale.pk %}">제품명: {{sale.name}}</a>
        <p class="card-text">제품가격: {{sale.price}}</p>
        <p class="card-text">제품재고: {{sale.count}}</p>
        <!--좋아요-->

        {% if user in sale.like.all %}
      <i class = "fas fa-thumbs-down like-button" data-id = "{{sale.pk}}" style = "color: tomato"></i>
      {% else %}
      <i class = "fas fa-thumbs-up like-button" data-id = "{{ sale.pk}}" style = "color:black"></i>
      {% endif %}

      <p>
        <span id="like-count-{{ sale.pk }}">
          {{ sale.like.count }}
        </span>
        명이 이 제품을 좋아합니다.
      </p>
        <!--좋아요 끝-->
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
{% endblock content %}

{% block script %}
<script>
  // CODE HERE
  const likeButtons = document.querySelectorAll('.like-button')
  likeButtons.forEach(function (button) {
    button.addEventListener('click', function(event) {
      const saleId = Number(event.target.dataset.id)
      console.log(saleId)
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN'
      axios.post(`/products/sales/${saleId}/like/`)
      .then (function(response){
        console.log(response)
        const likeCount = document.querySelector(`#like-count-${saleId}`)
        likeCount.innerText = response.data.count
        
        if (response.data.like) {
          event.target.className = 'fas fa-thumbs-up like-button'
          event.target.style.color = 'crimson'
        } else {
          event.target.className = 'fas fa-thumbs-down like-button'
          event.target.style.color = 'black'
        }
      })
    })
  })
</script>
{% endblock script%}